* {
	 
  padding:0; 
  margin: 0;
font-family:Lucida Calligraphy;
}

canvas {
	/*background-color: orange;*/
	width: 100vw;
	height: 100vh;
	background-image: url("FrontCover.jpg") ;
    background-repeat: no-repeat;
/*background-position: 0 0;*/
  background-size:cover;
	}
#menubar{
width: 100%;
height: 50px;
background-color: #151515;
position: fixed;
top:0%;
left:0px;
}
#name{
	float: left;
	line-height: 50px;
    color: white;
    font-size: 20px;
    width: 20%;
    text-align: center;
    
   margin-left: 35px;
}

#myself{
	position: relative;
	font-size: 15px;
	width: 80%;
	left: 10%;
	right: 10%;
	text-align: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
 #menubar ul{
	float: left;
	color: white;
	text-decoration: none;
	list-style: none;
	width: 70%;
	margin-left: 35px;
	margin-right: 0px;
}
 #menubar ul li  {
	float: left;
	display: block;

}
 #menubar ul li a  {
	float: left;
	display: block;
	color: white;
	font-size:16px;
	text-decoration: none;
		 line-height: 50px;
	 margin-left: 20px;
	 margin-right: 20px;
}


#photo{
position:absolute;
top :40%;
left:30%;
color:#d3d3d3;
font-size: 40px;
font-family:Lucida Calligraphy;
}
#container1{
  position: relative;
	width: 100%;
	/*top: 200%;*/

	background-color: green;
background-image: url("par1.jpg");
background-size: cover;
background-attachment: fixed;
}
#container2{
  position: relative;
	width: 100%;
/*	top :1700px;*/
	

	background-image: url("par2.jpg");
     background-size: cover;
     background-attachment: fixed;
}
#container3{
  position: relative;
	width: 100%;
/*	top :310%;*/
	
	background-image: url("par3.jpg");
     background-size: cover;
     background-attachment: fixed;
}
#container4 {
  position: relative;
	width: 100%;
/*	top :310%;*/
	
	background-image: url("par4.jpg");
     background-size: cover;
     background-attachment: fixed;
}

#container5 {
  position: relative;
	width: 100%;
/*	top :310%;*/
	
	background-image: url("par5.jpg");
     background-size: cover;
     background-attachment: fixed;
}


#up1{
	position: relative;
  	height: 100%;
	width: 100%;
	background-color: white;
}
#down1{
 position: relative;
	height: 400px;
	width: 100%;
}


#up2{
	position: relative;
	width: 100%;
	background-color: white;
}
#down2{
 position: relative;
	height: 400px;
	width: 100%;
}



#up3{
	position: relative;

	width: 100%;
	background-color: white;
	overflow: hidden;
}
#down3{
 position: relative;
	height: 400px;
	width: 100%;
}

#up4{
	position: relative;
text-align:	center;
font-size: 30px;
	width: 100%;
	background-color: white;
  
	overflow: hidden;
	padding-bottom: 30px;
}
#down4{
 position: relative;
	height: 400px;
	width: 100%;
}

#up5{
	position: relative;
font-size: 30px;
	width: 100%;
	background-color: #fdf6ee;
  
	overflow: hidden;
	padding-bottom: 30px;
	padding-right: 5%;
}
#down5{
 position: relative;
	height: 400px;
	width: 100%;

}
#skill{
	width: 100%;

}
#sidepanel{
color: black;
	height:200px;
	width: 20%;
	float: left;
    margin-left: 1%;
}
#sidepanel ul{display: block;}
#sidepanel ul li{
	font-size: 20px;
	color: black;
	background-color: white;
   display: block;
   border: 1px solid black;
 
}
#sidepanel a{
	text-decoration: none;
  color: black;
  display: block;
  text-align: center;
   padding-top: 15px;
    padding-bottom: 15px;
}
#details{
	width: 75%;
	margin-left: 25%;
}
#intro{
	width: 100%;
	background-color: white;
	overflow: hidden;
}
#languages{
	display: none;
width: 100%;
background-color: white;
padding-bottom: 30px;
}
#languages ul li{
	font-size: 25px;
	list-style-type: circle;
}
.col1{
	float: left;
	margin-left: 10%;
     font-size: 25px;
}
.col2{
	margin-left: 300px;
}
.col3{
	font-size: 25px;
	margin-left: 450px;
}


.col5{
	float: left;
	margin-left: 10%;
     font-size: 20px;
}

.col6{
	font-size: 20px;
	margin-left: 500px;
}

#courses ul li {
list-style-type: circle;
margin: 0 0 8px 0;
}
.centre{
	text-align: center;
}
.pl{
	margin-left: 10%;
	font-family:Lucida Calligraphy;

}
#clubs{
width: 100%;
background-color: white;
overflow: hidden;
display: none;

}

.det{
	font-size: 20px;
}
#indent0{
	margin-left: 10%;
	margin-right: 10%;
}
#indent{
	margin-left: 10%;
}
#softwares{width: 100%;display: none;
background-color: white;overflow: hidden;
}
#softwares ul li {
    list-style-type: circle;
}
#courses{
width: 100%;
overflow: hidden;
background-color: white;
display: none;
}
#coding{
width: 100%;
background-color: white;
overflow: hidden;display: none;
}
.a{
	color: black;
}
/*
#cover {
	background-color: black;
	position: absolute;
	top :425%;
	width: 100%;
}
#insidecover{
	position: relative;
height: 800px;
width: 100%;
}

*/




#eduwrapper{
	
	width: 70%;
	background-color:white;
	margin-left: 15%;
 font-family:Lucida Calligraphy;

  overflow: hidden;
}
#school{
		position: relative;
	float: left;
	width: 30%;
background-color: white;

}
#schoolpic{

 margin:auto;
height: 160px;
width: 160px;

}

#coaching{
		position: relative;
	float: left;
	margin-left: 4%;
background-color: white;
		width: 30%;
	

}
#coachingpic{

 margin:auto;
height: 160px;
width: 160px;

}

#schooltext{
	font-family:Lucida Calligraphy;

}
#coachingtext{
	font-family:Lucida Calligraphy;

}
#collegetext{
	font-family:Lucida Calligraphy;

}

#college{
background-color: white;

	width: 30%;

	margin-left: 68%;
}
#collegepic{
 margin:auto;
height: 160px;
width: 160px;

}

#edu_para
{
    margin: 5%;
    margin-top: 10px;
    text-align: center;
    font-size: 130%;
    
	font-family:Lucida Calligraphy;;
   
    width: 90%;
    line-height: 25px;
}

.hob{
	width: 30%;
	margin-left:2%;
   margin-right: 1%;
   float: left;
  overflow: hidden;
}
#hobbies{
	width: 70%;
	margin-left: 15%;
	overflow: hidden;
text-align: 	center;
font-size: 30px;

}

.pic{
	height: 170px;
	width: 170px;
	margin: auto;
}

.text{
	font-size: 20px;
	overflow: hidden;
}

#project{
width: 70%;
	margin-left: 15%;
	overflow: hidden;
text-align:	center;
font-size: 30px;

}
.pro{
	width: 30%;
	margin-left:2%;
   margin-right: 1%;
   float: left; 
  border: 2px solid black;
 box-shadow: 10px 10px 10px #888888;
  box-shadow: 5px;
}
#sidepanel a:hover { 
    background-color: grey;
     font-size: 18px;
}
.class="fa fa-angle-double-right{
  font-size: 1px;
}
#last {
	position: relative;

	width: 100%;
	margin-bottom: 50px;
background-color: red;
	background-image: url("par4.jpg");
     background-color: red;
     background-size:      cover;
   

	
}
#inlast{
	width: 100%;
	height: 800px;

    background-image: url("last.jpg");
   background-repeat: no-repeat;
   background-size: cover;
}
#button1{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 16px;
	padding-left: 16px;
 position: relative;
  	top: 400px;
    color: black;
	left: 23%;
	background-color: pink;
	font-size: 20px;
	
}
#button2{
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 16px;
	padding-left: 16px;
 position: relative;
  	top: 400px;
color: black;
	left: 49%;
 background-color: pink;	
 font-size: 20px;
}

#button1:hover{
background-color: violet;
color: black;
}
#button2:hover{
background-color: violet;
color: black;
}