* {
	 
  padding:0; 
  margin: 0;

}

canvas {
	background-color: orange;
	background-image: url("FrontCover.jpg") ;
    background-repeat: no-repeat;
/*background-position: 0 0;*/
  background-size:cover;
	}
#menubar{
width: 95%;
height: 50px;
background-color: #151515;
position: fixed;
top:0%;
left:0px;
}
#name{
	float: left;
	line-height: 50px;
    color: white;
    font-size: 20px;
    width: 30%;
    text-align: center;
    margin-left: 20px;
   margin-left: 50px;
}

#myself{
	position: relative;
	font-size: 15px;
	width: 80%;
	left: 10%;
	right: 10%;
	text-align: center;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
ul{
	float: left;
	color: white;
	text-decoration: none;
	list-style: none;
	width: 55%;
	margin-left: 40px;
	margin-right: 0px;
}
ul li  {
	float: left;
	display: block;

}
ul li a  {
	float: left;
	display: block;
	color: white;
	font-size:16px;
	text-decoration: none;
		 line-height: 50px;
	 margin-left: 20px;
	 margin-right: 20px;
}


#photo{
position:absolute;
top :40%;
left:30%;
color:#d3d3d3;
font-size: 40px;
font-family:Lucida Calligraphy;
}
#container1{
  position: relative;
	width: 100%;
	/*top: 200%;*/

	background-color: green;
background-image: url("par1.jpg");
background-size: cover;
background-attachment: fixed;
}
#container2{
  position: relative;
	width: 100%;
/*	top :1700px;*/
	

	background-image: url("par2.jpg");
     background-size: cover;
     background-attachment: fixed;
}
#container3{
  position: relative;
	width: 100%;
/*	top :310%;*/
	
	background-image: url("par3.jpg");
     background-size: cover;
     background-attachment: fixed;
}


#cover{
position: relative;
	width: 100%;
	/*top: 415%;*/
	
	background-image: url("endpic.jpg");
	background-size: cover;
	}

#insidecover{
	height: 800px;
     position: relative;
     width: 100%;
     background-color: blue;
}

#up1{
	position: relative;
  	height: 100%;
	width: 100%;
	background-color: white;
}
#down1{
 position: relative;
	height: 400px;
	width: 100%;
}


#up2{
	position: relative;
	width: 100%;
	background-color: white;
}
#down2{
 position: relative;
	height: 400px;
	width: 100%;
}



#up3{
	position: relative;
	height: 80vh;
	width: 100%;
	background-color: violet;
}
#down3{
 position: relative;
	height: 400px;
	width: 100%;
}


/*
#cover {
	background-color: black;
	position: absolute;
	top :425%;
	width: 100%;
}
#insidecover{
	position: relative;
height: 800px;
width: 100%;
}

*/




#eduwrapper{
	
	width: 70%;
	background-color:white;
	margin-left: 15%;
 
  overflow: hidden;
}
#school{
		position: relative;
	float: left;
	width: 30%;
background-color: white;

}
#schoolpic{

 margin:auto;
height: 160px;
width: 160px;

}
#schooltext{

}
#coaching{
		position: relative;
	float: left;
	margin-left: 4%;
background-color: white;
		width: 30%;
	

}
#coachingpic{

 margin:auto;
height: 160px;
width: 160px;

}
#coachingtext{

}



#college{
background-color: white;

	width: 30%;

	margin-left: 68%;
}
#collegepic{
 margin:auto;
height: 160px;
width: 160px;

}
#collegetext{

}
#edu_para
{
    margin: 5%;
    margin-top: 10px;
    text-align: center;
    font-size: 150%;
    font-family:Perpetua;
   
    width: 90%;
    line-height: 25px;
}








